*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: rgb(54,54,150);
    background: linear-gradient(180deg, rgba(54,54,150,1) 0%, rgba(10,0,177,1) 50%, rgba(85,85,249,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.left-login-image{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(53, 53, 53);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #f26200;
    font-weight: 800;
    margin: 0;
    font-size: 30pt;
}

.textfield{
    width: 30vw;
    display: flex;
    
    align-items: flex-start;
    flex-direction: column;
    margin: 3px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 8px;
    background: #778899;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 10pt;
    font-weight: 800;
}

.textfield > input::placeholder{
    color: #ffffff;
}

.textfield2{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 3px 0px;
}
.left{
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 3px 5px;
}

.left > label{
    color: #f0ffffde;
    margin-bottom: 10px;
    font-size: 10pt;
    font-weight: 800;
}

.left > input{
	width: 100%;
    border: none;
    border-radius: 10px;
    padding: 8px;
    background: #778899;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.right{
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 3px 0px;
}

.right > label{
	color: #f0ffffde;
    margin-bottom: 10px;
    font-size: 10pt;
    font-weight: 800;
}

.right > input{
	width: 100%;
    border: none;
    border-radius: 10px;
    padding: 8px;
    background: #778899;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 5px;
	margin-top: 15px;
    border: none;
    right: auto;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #f26200;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #f26233;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
}