*{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}

.textimg{
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: space-evenly;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 20px;
    background-color: rgb(206, 205, 205);
    border-radius: 20px;
}

.text > h1{
    font-size: 41px;
    text-align: left;
    text-transform: uppercase;
}

.text > p {
    font-size: 20px;
    text-align: justify;
    text-transform: initial;
}

.text > .btn > a {
    margin-left: 250px;
    width: 10vw;
    height: 5vh;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    background-color: rgb(23, 23, 182);
    margin-top: 10px;

}

.img{
    width: 30vw;
}

.img > img{
    width: 35vw;
}