*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}

.cabecalho{
    width: 100vw;
    height: 15vh;
    background-color: rgb(13, 13, 71);
    display: flex;
    align-items: center;
}

.cabecalho > .logo{
    width: 10vw;
    align-items: flex-start;
    width: 5vw;
}

.cabecalho > .title{
    width: 80vw;
    align-items: center;
    text-align: center;
}

.cabecalho > .logout{
    width: 10vw;
    align-items: center;
    text-align: center;
}

.logo > img{
    margin-left: 25px;
    align-items: flex-start;
    width: 7vw;
}

.title > h1{
    color: orangered;
    font-size: 4vw;
    margin-left: 150px;
    text-transform: uppercase;
}
.logout{
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.logout > img{
    width: 2.5vw;
    
}

.logout > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2vwx;
    font-weight: 800;
    
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.1);
    transition: 1s;
}

.armacao{
    width: 100vw;
    height: 15vh;
    justify-content: center;
}

h3{
    text-align: center;
    font-size: 2vw;
    color: black;
}

.card{
    
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 70vw;
    height: 10vh;
    background-color: rgba(13, 13, 71, 0.4);
    display: flex;
    border-radius: 20px;
}

.ponte{
    display: flex;
    flex-direction: column;
}

select{
    width: 8vw;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

select:hover{
    cursor: pointer;
}

option:hover{
    cursor: pointer;
}


.lentes{
    margin-top: 5vh;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-around;
}

.oe{
    width: 25vw;
    height: 20vh;
}

.image{
    width: 50vw;
}

.image > img{
    width: 50vw;
}

.od{
    width: 25vw;
}

.card1{
    justify-content: center;
    padding: 15px;
    margin: auto;
    width: 20vw;
    height: 20vh;
    background-color: rgba(13, 13, 71, 0.4);
    border-radius: 20px;
}
.row{
  
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.row > label{
    align-items: flex-start;
    color: white;
}

select{
    justify-content: right;
    width: 9vw;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
    background-color: white;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    margin-left: 4px;
}

.calcular{
    display: flex;
    justify-content: center;
    align-items: center;
}


.button{
    border-radius: 4px;
    width: 15vw;
    height: 5vh;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(13, 13, 71, 0.4);
    color: white;
}

.button:hover{
    cursor: pointer;
    background-color: orangered;
}

